<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>add movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Add a Movie</h2>
<form action="voteForBestMovie" method="POST">
    <p>Movie Title: <input type="text" name="movieTitle" /></p>
    <p> Maturity Rating: <input type="text" name="maturityRating"></p>
    <p>Genre: <input type="text" name="genre" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
<a href="/">Home</a>
</body>
</html>
